.project-list-item
  height: 200px
  width: 100%
  position: relative
  overflow: hidden
  object-fit: cover
  box-shadow: $shadow
  border-radius: 10px
  transition: 0.5s ease-out

  &:hover
    background-color: var(--app-menu-background)
    box-shadow: $inner-shadow
    transition: 0.5s ease-out

  .list-item
    transition: .5s ease
    height: 100%
    width: 100%
    z-index: 50
    top: 0
    bottom: 0
    left: 0
    right: 0
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    align-items: center

    .front 
      opacity: 1
      display: flex
      transition: .5s ease-out

    .back
      opacity: 0 
      display: none
      transition: .5s ease-out

    &:hover .back
      opacity: 1
      display: flex
      transition: .5s ease-out

    &:hover .front
      opacity: 0 
      display: none
      transition: .5s ease-out